*
  margin: 0
  padding: 0
  box-sizing: border-box
  outline: none
  text-decoration: none
body
  font-family: 'Proxima Nova Regular'
  height: 100%
  outline: none
.container
  width: 1170px
  margin: auto
  // padding: 0 15px

a 
  color: #000
  
.button
  color: #030303
  background-color: #ffc800
  font-family: 'Proxima Nova Regular', sans-serif
  padding: 7px 17px
  border: none

// @media (max-width: 1326px) 
//   .container
//     width: 1170px

@media (max-width: 1200px) 
  .container
    width: 992px

@media (max-width: 992px) 
  .container
    width: 768px


@media (min-width: 993px) 
  .button
    &:hover
      cursor: pointer
      background-color: rgba(0, 0, 0, 0.9)
      color: #fff