* 
  box-sizing: border-box
  outline: none
  text-decoration: none
body
  font-family: 'Proxima Nova Regular'

.container
  width: 1170px
  margin: auto 

.button
  color: #030303
  background-color: #ffc800

