@font-face {
  font-family: 'Proxima Nova Light';
  src: url('../fonts/ProximaNova/ProximaNovaLight.eot'); 
  src: url('../fonts/ProximaNova/ProximaNovaLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova/ProximaNovaLight.woff'), format('woff'),
  url('../fonts/ProximaNova/ProximaNovaLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('../fonts/ProximaNova/ProximaNovaBold.eot'); 
  src: url('../fonts/ProximaNova/ProximaNovaBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova/ProximaNovaBold.woff'), format('woff'),
  url('../fonts/ProximaNova/ProximaNovaBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Thin';
  src: url('../fonts/ProximaNova/ProximaNovaTThin.eot'); 
  src: url('../fonts/ProximaNova/ProximaNovaTThin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova/ProximaNovaTThin.woff'), format('woff'),
  url('../fonts/ProximaNova/ProximaNovaTThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}  

@font-face {
  font-family: "Proxima Nova Regular";
  src: url("../fonts/ProximaNova/ProximaNovaRegular.eot");
  src: url("../fonts/ProximaNova/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/ProximaNova/ProximaNovaRegular.woff") format("woff"),
  url("../fonts/ProximaNova/ProximaNovaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url('../fonts/ProximaNova/ProximaNovaSemibold.eot'); 
  src: url('../fonts/ProximaNova/ProximaNovaSemibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova/ProximaNovaSemibold.woff'), format('woff'),
  url('../fonts/ProximaNova/ProximaNovaSemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}  

@font-face {
  font-family: 'Proxima Nova Italic';
  src: url('../fonts/ProximaNova/ProximaNovaRegularIt.eot'); 
  src: url('../fonts/ProximaNova/ProximaNovaRegularIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova/ProximaNovaRegularIt.woff'), format('woff'),
  url('../fonts/ProximaNova/ProximaNovaRegularIt.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}  

@mixin lt {
  font-family: 'Proxima Nova Light', sans-serif;
  font-weight: 100;
}
@mixin bold {
  font-family: 'Proxima Nova Light', sans-serif;
  font-weight: bold;
}
@mixin it {
  font-family: 'Proxima Nova Italic', sans-serif;
  font-weight: normal;
}
@mixin sbold {
  font-family: 'Proxima Nova Semibold', sans-serif;
  font-weight: 400;
}
@mixin reg {
  font-family: 'Proxima Nova Regular', sans-serif;
  font-weight: normal;
}
@mixin thin {
  font-family: 'Proxima Nova Thin', sans-serif;
  font-weight: 100;
}
