.feedback
  position: relative
  &__title
    position: absolute
    left: -31px
    top: -26px 
    color: #020202
    font-family: 'Proxima Nova Semibold', sans-serif
    font-size: 28px
    text-transform: uppercase
    pointer-events: none
    padding: 14px 63px

  &__bg 
    position: absolute
    left: -462px
    top: 0
    opacity: 0



