.container
  position: relative
  &::after
    position: absolute
    top: 0
    right: 0
    background-image: url('../img/navbar_background.jpg')


.navbar
  padding: 1px 
  text-decoration: none
  &-header
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    padding-top: 2px
    // background-image: url('../img/navbar_background.jpg')
    // background-size: 30%
    // background-origin: content-box
    // background-position: right
  &-nav
    display: flex
    flex-direction: row
    text-decoration: none
    max-width: 765px
    width: 100%
    padding: 0 
    color: #000000
    margin-top: -5px
    margin-left: 18px
  &-menu
    margin-left: 49px
  &__logo
    padding: 3px 0
  &__info
    text-decoration: none
    padding: 21px 1px 24px 52px
    // background-color: #f1f1f1
  &__phone
    color: #000000
    font-size: 18px
    text-transform: uppercase
    font-family: 'Proxima Nova Regular', sans-serif
    padding-left: 7px
    margin-right: -4px
      
  &__button
    padding: 7px 15px
    border: none
    font-size: 14px
    margin: 0 0 0 43px
    font-family: 'Proxima Nova Regular', sans-serif
.menu
  &__item
    color: #000000
    font-size: 16px
    padding: 0 28px
    font-size: 16px
.nav
  &-item
    border-left: 1px solid rgba(0,0, 0, 0.15)
    line-height: 12px
    font-family: 'Proxima Nova Regular', sans-serif
    &:first-child
      border-left: none
      padding-left: 0
  &__img
    margin-right: 6px

.menu__icon 
    display: none
    width: 45px
    height: 35px
    position: relative
    cursor: pointer

.menu__icon span 
    display: block
    position: absolute
    height: 9px
    width: 100%
    background: #333333
    border-radius: 9px
    opacity: 1
    left: 0
    transform: rotate(0deg)
    transition: .25s ease-in-out

.menu__icon span:nth-child(1) 
    top: 0px

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) 
    top: 13px

.menu__icon span:nth-child(4) 
    top: 26px
    

@media screen and (max-width: 992px) 
  .menu
    &__icon
    display: inline-block
    &__links 
      position: fixed
      display: block
      top: 0
      right: 0
      left: 0
      margin-top: 52px
      background-color: rgba(0, 0, 0, 0.8)
      z-index: 1000
      overflow: auto
      &-item 
        display: block
        padding: 10px 0
        text-align: center
        color: #ffffff
  .menu.menu_state_open .menu__icon span:nth-child(1) 
      top: 18px
      width: 0%
      left: 50%

  .menu.menu_state_open .menu__icon span:nth-child(2) 
      transform: rotate(45deg)

  .menu.menu_state_open .menu__icon span:nth-child(3) 
      transform: rotate(-45deg)

  .menu.menu_state_open .menu__icon span:nth-child(4) 
      top: 18px
      width: 0%
      left: 50%

  .menu.menu_state_open .menu__links 
      display: block  