.navbar
  padding: 8px 0 1px 
  &-block
    display: flex
    justify-content: space-between
    align-items: center
    text-decoration: none
  &__menu
    display: flex
    justify-content: space-between
    text-decoration: none
    color: #000000
  &__logo
    padding-left: 20px
  &__info
    background-color: #f1bbbb11
    text-decoration: none
  &__phone
    color: #000000
    font-size: 18px
    text-transform: uppercase
  &__button
    padding: 10px 15px
    border: none
    font-size: 14px
.menu
  &__item

    color: #000000
    font-size: 16px